VITE_SUPABASE_URL=https://btcbujjbttglveuebulz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ0Y2J1ampidHRnbHZldWVidWx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0MjMwMDksImV4cCI6MjA5NDk5OTAwOX0.P29Gbpe04tUXWXr2eHlY893CuXU0swWb4fiPeL2iq6E
